# Core GUI Framework
PyQt6==6.7.0

# Password hashing
bcrypt==4.2.0

# PDF generation
reportlab==4.2.2
weasyprint==62.1

# Development tools
pytest==8.3.2
pytest-qt==4.4.0

# Code formatting and linting
black==24.4.2
flake8==7.1.0


#Los nuevos 
bcrypt==5.0.0    
charset-normalizer==3.4.3    
click==8.3.0    
colorama ==0.4.6    
pillow==11.3.0   
pip==23.2.1
psycopg2==2.9.10
#PyQt6 tools
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
qt6-applications==6.5.0.2.3
qt6-tools==6.5.0.1.3

#predeterminado de venv
setuptools==80.9.0
wheel==0.45.1